@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Inline&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Bungee', cursive;

    background: no-repeat center center fixed;
    background-image: radial-gradient(#fdfdfd, #3e3f55);

  
}

.pageGrid{
    display: grid;
    width: 100vw; 
    min-width: 630px;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 200px 650px auto;
    position: relative;
    justify-items: center;
    grid-template-areas:
    "top_title top_title top_title"
    "left_middle middle_content right_middle"
    "bottom_space bottom_space bottom_space";
}

.top{
    margin: 10px;
    display: block;
    grid-area: top_title;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;    
    font-family: 'Bungee Inline', cursive;
    font-size:50px;
    line-height: 50px;
    color: #e03131;
    text-shadow: -1px -1px 0 #331d1d, 1px -1px 0 #331d1d, -1px 1px 0 #331d1d, 1px 1px 0 #331d1d;
}

.calcContainer{
    padding: 15px;
    grid-area: middle_content;
    width: 100%;
    display: grid;
    grid-template-areas:
    "calc_area calc_area"
    "del_area operator_area"
    "num_area operator_area";
    grid-template-columns: 3fr 1fr;
    background-color: #000000fd;
    border-radius: 50px;


    
}


#calculation{
    grid-area: calc_area;
    margin: 30px;
    /* display: flex;  */
    align-items:center;
    padding-left: 10px;
    background-color: darkgrey;
    border-radius: 10px;
    height: 60px;
    font-size: 40px;
}

button{
    font-family: 'Bungee', cursive;
    font-size: 30px;
    height: 80px;
    width: 100px;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    
}

button:focus {
    outline: none;
  }

button:hover{
    opacity: 0.7;
}

button:active,  .keyBoardActive{
    opacity: 0.7;
    box-shadow: 0 5px rgb(173, 173, 173);
    transform: translateY(4px);
  }
  

#delButtons{
    grid-area: del_area;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}
.delButton{
    background-color: #da6f6f;
    width: 162.5px;
}

#numButtons{
    grid-area: num_area; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    
  
}
.numButton{
    margin-bottom: 10px;
    background-color: #666780;
    
}
.zeroButton{
    background-color: #666780;
    width: 210px;
  
}
#operatorButtons{
    grid-area: operator_area;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:10px;
    padding: 0;
    align-items: center;
   
}
.operatorButton{
    background-color: chocolate;
}

.bottom{
    grid-area: bottom_space;
    margin: 10px;
    display: block;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;    
    font-family: 'Bungee Inline', cursive;
    font-size:30px;
    line-height: 50px;
    color: #e03131;
    text-shadow: -1px -1px 0 #331d1d, 1px -1px 0 #331d1d, -1px 1px 0 #331d1d, 1px 1px 0 #331d1d;
}


footer{
    align-content: center;
    position: fixed;
    display: grid;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(151, 154, 167);
    font-size: 18px;
    grid-template-areas: "footer_left footer_middle footer_right";
    grid-template-columns: 1fr 30px 1fr;
}

footer p{
    grid-area: footer_left;
    text-align: end;
    margin: 0px; 
    padding-top: 5px;
}

.githubLogo{
    grid-area: footer_middle;
    height: 20px;
    justify-self: center;
    align-self: center;
}

footer a{
    grid-area: footer_right;
    text-align: left;
    margin: 0px; 
    padding-top: 5px;
}
